mss-scheduler-template-develop/code/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:error-handler-plugin="http://www.mulesoft.org/schema/mule/error-handler-plugin"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/error-handler-plugin http://www.mulesoft.org/schema/mule/error-handler-plugin/current/mule-error-handler-plugin.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">

	<flow name="poll-template">
		<scheduler doc:name="Scheduler" doc:id="1f1bc65f-d114-449a-bbe0-0b9900d61ec0" >
			<scheduling-strategy >
				<fixed-frequency frequency="${secure::polling.frequency}" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="set correlation Id" doc:id="e7f7046f-ed1d-4c3f-9905-8e59516a2177" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.'correlation_id' default correlationId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-payload value='#["Replace with implementation of the use case"]' doc:name="Logic" doc:id="550f2b26-34a6-40b6-b60d-650f51741d1d" />
		<logger level="INFO" doc:name="Logger" doc:id="91a49bc1-b6e5-4530-942a-af7645bba957" message="#[payload]"/>
	
</flow>
</mule>
